<h2 class="header header--2">Undirskriftir</h2>
<div class="signature_count">
  Fjöldi undiskrifta: <%= signatures.count %>
</div>
<% if (signatures.count > 0) { %>
  <table class="table">
    <thead>
      <tr class="table__row">
        <th class="table__header">Dags</th>
        <th class="table__header">Nafn</th>
        <th class="table__header">Athugasemd</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <% signatures.list.forEach((signature)=> { %>
        <tr class="table__row">
          <td class="table__signed">
            <%= signature.signed %>
          </td>
          <td class="table__name">
            <%= signature.name %>
          </td>
          <td class="table__comment">
            <%= signature.comment %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <div class="pages">
    <% if (pages.previous) { %>
      <a class="pages__previous" href="/?page=<%= pages.page-1 %>">Fyrri síða</a>
    <% } else { %>
      <p class="pages__previous">Fyrri síða</p>
    <% } %>
    <p class="pages__state">Síða <%= pages.page %> af <%= pages.totalPages %></p>
    <% if (pages.next) { %>
      <a class="pages__next" href="/?page=<%= pages.page+1 %>">Næsta síða</a>
    <% } else { %>
      <p class="pages__next">Næsta síða</p>
    <% } %>
  </div>
  <% } else { %>
    <p>Engar undiskriftir komnar</p>
  <% } %>
  
